<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script src="https://kit.fontawesome.com/7711c3f1fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo only-desktop">
                <i class="fas fa-list-check"></i>
            </div>
            <div class="menu">
                <div class="only-mobile">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="only-desktop">
                    <ul>
                        <li><a href="">Aggiungi</a></li>
                        <li><a href="">Impostazioni</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container" id="app" v-cloak>
            <ul>
                <li class="item" v-for="(item,index) in list">
                    <div class="col-10">
                        <input :id=`check${index}` type="checkbox" v-model="list[index].done">
                    </div>
                    <div class="col-100">
                        <label :for=`check${index}` :class="{done: list[index].done}">{{ list[index].text }}</label>
                    </div>
                    <div class="col-10">
                        <i class="fas fa-xmark" @click="list.splice(index, 1)"></i>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>